body{
	margin: 0;
	padding: 0;
	    background-color: #f3f5f4;
}
.container{
	    width: 800px;
    height: 450px;
    margin-left: 25%;
       margin-top: 25px;
}
h1{  
  font-size: 50px;
    margin-left: 28%;
}

img{
	width: 800px
}

p{    font-size: 20px;
}
h2{    font-size: 30px;
    margin-left: 32%;
}
table{
	border-collapse: collapse;
	width: 100%;

}
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}